<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../partials/nav.ejs')%>
    <main>

    </main>
    <%- include('../partials/end.ejs')%>