<%- include('/partials/head.ejs')%>
</head>
</head>

<body>
<%- include('/partials/nav.ejs') %>
    <main>
        <h1>404</h1>
        <p> Page Not Found! </p>
    </main>
<%- include('/partials/end.ejs')  %> 